{
    "passPerPreset": true,
    "presets": [{
        "plugins": ["transform-runtime", "transform-flow-strip-types"]
    }, {
        "passPerPreset": false,
        "presets": ["es2015", "stage-0"]
    }]
}
